* {
  margin: 0px;
  padding: 0px;
  box-sizing: 0px;
}

.navbar {
  padding-inline: 25px;
  /* background-color: #333; */
  /* overflow: hidden; */
  /* grid-column: 3/5;
   */
  /* background-color: tan;
  display: grid; */

}

.navbar-icon {
  display: none;
}
.main-nav {
  width: 100%;
  /* height: 15rem; */
  display: flex;
  align-items: center;
  align-content: center;
  /* background-color: tan; */
  justify-content: space-between;
  /* position: fixed; */
  height: 1px;
  z-index: 2;
  padding-block: 5%;
  background-color: transparent;
  /* padding: 5%; */
  /* background-color: yellow; */
  /* background-color: "#0175e7"; */

}
.logo{
  height: 100px;
  width: 100px;
}

.toggle-icon {
  width: 24px;
  height: 2px;
  background-color: #f2f2f2;
  margin: 6px;
}

.navbar-menu {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  align-self: flex-end;
  height: 100%;
  /* background-color:turquoise; */
  flex-direction: row;
  margin-inline-end: -130px;
  
}

.navbar-menu.open {
  display: none;
}

.nav-link {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  

}
.div-nav{
  padding-right: 10%;
}

.nav-link:hover {
  /* background-color: #ddd; */
  color: black;
}

@media screen and (max-width: 998px) {

  .navbar-icon {
    position: relative;
    display: flex;
    color: #fff;
    /* color: #fff; */
    font-size: 32px;
    /* margin-inline: -50px; */
    /* position: fixed; */
  }

  .div-nav {
    display: flex;
    flex-direction: column;
    margin-inline: 10px;
  }

  .navbar {
    /* display: flex;
  flex-direction: column; */
    /* margin-inline: -30px; */
  }

  .navbar-menu-open {
    position: absolute;
    z-index: 99;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    margin-inline: -6%;
    /* align-items: flex-start;
    align-content: flex-start; */
    /* margin-right: 30px; */
    /* align-self: flex-start; */
    /* height: 100px; */

  }

  .navbar-menu {
    display: none;
    /* flex-direction: column;
    position: absolute;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    align-self: flex-start;
    margin-left: -20px; */
  }
  .logo{
    height: 35px;
    width: 35px;
  }

  .nav-link {
    /* display: flex; */
    color: #f2f2f2;
    text-align: center;
    padding-block: 10px;
    text-decoration: none;
    /* position: -webkit-sticky; */
    /* margin-block: 5px; */
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    /* flex-direction: column; */
    width: 100px;
    margin-inline-start: -50px;
    /* margin-right: -50px; */
    /* align-self: flex-start; */

  }
  .main-nav{
    /* width: 100%; */
    /* height: 15rem; */
    display: flex;
    align-items: center;
    align-content: center;
    /* background-color: tan; */
    justify-content: space-between;
    /* position: fixed; */
    height: 10px;
    z-index: 2;
    padding: 5%;
    width: 100%;
  }


}